body {
    background-color: white;

}
.logo {
    background: left / cover url(jack.png);
    background-color: grey;
    display: flex;
    align-content: center;
    margin: 0%;
    padding: 25px;
    font-style: italic;
    color: darkred;
    font-weight: bolder;
}

.js {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: left;
    margin: 0%;
    padding: 25px;
    background-color: white;
}